{% extends "blog/base.html" %}

{% block title %}MS Blog{% endblock %}

{% block content %}
  <article class="about">
    <h2>Who am I?</h2>
    <p>I started my journey in web development with Makers Academy, I suddenly fell in love
    with coding once again.<br>
    Since I was little I found coding fascinating. I never taught
    I could be good at it or I could ever love it that much.</p>
    <p>I guess it all started with making a <strong>conscious effort</strong> to take over my fears..<br>
    <strong>NOW</strong> This is my motto:</p>
    <aside class="quote">
    <blockquote cite="https://www.brainyquote.com/quotes/christopher_morley_116203">
    <i><strong>There is only one success - to be able to spend your life in your OWN way!!</strong></i>
    </blockquote>
    </aside>
    <p>Coding is not EASY it is a proper gym.. what I called "Brainy workout"..
      Since this is the right time to get what
      I want from this Life. <br>
      I am doing everything I love and makes me happy & fulfilled.
    </p>
  </article>

{% endblock %}
