{% extends "blog/base.html" %}

{% block title %}MS Blog{% endblock %}

{% block content %}
  <h2>Who am I?</h2>
    <p>I started my journey in web development with Makers Academy, I suddenly fell in love
    with coding once again. It is a proper gym, I need to train my brain with small doses
    of code every day to achieve something. Since now it is the time when I want to get what
    I want from this Life I am doing everything I love and makes me happy and fulfilled.
    </p>
    
{% endblock %}
