{% extends "layout.html" %}

{% block title %}MS Blog{% endblock %}

{% block content %}
  <article class="about">
    <h2>Who am I?</h2>
    <p>I started my journey in web development with Makers Academy, I suddenly fell in love
    with coding once again.<br>
    Since I was little I found coding fascinating. I never taught
    I could be good at it or I could ever love it that much.</p>
    <p>I guess it all started with making a <strong>conscious effort</strong> to take over my fears..<br>
    <strong>NOW</strong> This is my motto:</p>
    <aside class="quote">
    <blockquote cite="https://www.brainyquote.com/quotes/christopher_morley_116203">
    <i><strong>There is only one success - to be able to spend your life in your OWN way!!</strong></i>
    </blockquote>
    </aside>
    <p>Coding is not EASY it is a proper gym.. what I called "Brainy workout"..
      Since this is the right time to get what
      I want from this Life. <br>
      I am doing everything I love and makes me happy & fulfilled.
    </p>
  </article>
  <div class="row">
      <h3 class="section-heading">In brief my professional growth ...</h3>
      <p class="section-subheading text-muted"></p>
  </div>
  <div class="row">
          <ul class="timeline">
              <li>
                  <div class="timeline-image">
                    <h3 class="about-date">Aug - Dec <br>2016
                      </h3>
                  </div>
                  <div class="timeline-panel">
                      <div class="timeline-heading">
                          <h5>Aug-Dec 2016</h5>
                          <h5 class="subheading">My Humble Beginnings</h5>
                      </div>
                      <div class="timeline-body">
                          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                      </div>
                  </div>
              </li>
              <li class="timeline-inverted">
                  <div class="timeline-image">
                    <h3 class="about-date">December <br>2016
                      </h3>
                  </div>
                  <div class="timeline-panel">
                      <div class="timeline-heading">
                          <h5>Dec 2016</h5>
                          <h5 class="subheading">A Developer was Born</h5>
                      </div>
                      <div class="timeline-body">
                          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="timeline-image">
                    <h3 class="about-date" >Jan - Oct <br> 2017
                      </h3>
                  </div>
                  <div class="timeline-panel">
                      <div class="timeline-heading">
                          <h5>Jan-Oct 2017</h5>
                          <h5 class="subheading">Transition to become a Full Time Web Developer</h5>
                      </div>
                      <div class="timeline-body">
                          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                      </div>
                  </div>
              </li>
              <li class="timeline-inverted">
                  <div class="timeline-image">
                    <h3 class="about-date">October <br> 2017
                      </h3>
                  </div>
                  <div class="timeline-panel">
                      <div class="timeline-heading">
                          <h5>Oct 2017-Now</h5>
                          <h5 class="subheading">Phase Two Growth</h5>
                      </div>
                      <div class="timeline-body">
                          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                      </div>
                  </div>
              </li>
              <li class="timeline-inverted">
                  <div class="timeline-image">
                    <h3 class="about-date">Hire Me!
                      </h3>
                  </div>
              </li>
          </ul>
  </div>



{% endblock %}
