{% load staticfiles %}
<!DOCTYPE html>
{% load blog_tags %}
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="//basehold.it/32">
  </head>
  <body>
    <header id="top">
      <span>Journey to get the life I want..</span>
      <h1>Manuela's Blog</h1>
    </header>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div id="sidebar">
      <h2>MS Blog</h2>
        <p>This is my blog. I have written {% total_posts %} posts so far.</p>

        <h3>Latest posts</h3>
        {% show_latest_posts %}
    </div>

    <footer id="main-footer">
      <p id="p-footer">All rights reserved to <a href="#">ManuCiao</a>.</p>
      <a href="#top">Back to top &raquo;</a>
    </footer>

  </body>
</html>
