body {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    color: #878787;
    margin:0;
    padding:0;
}

header {
	padding-top: 120px;
  padding-bottom: 90px;
  margin-bottom: 50px;
  background-color: orange;
  text-align: center;

}

header span {
	color: white;
  border-bottom: 2px solid;
	font-size: 26px;
  letter-spacing: 1.3px;
  line-height: 2;
  padding-bottom: 10px;
  font-weight: lighter;
}

a:link {
	text-decoration: none;
  font-size: 35px;
	color: #FFA949;
	padding: 0 9px 3px 9px;
	display: inline-block;
}

h1 {
	font-size:72px;
	font-weight: normal;
	margin-top: 24px;
  line-height: 1;
  text-shadow: 0 1px 0 rgba(0,0,0,.3);
  color: white;
}

h2 {
    font-size: 30px;
    font-weight:normal;
    margin:30px 0 0;
}

p {
  color: initial;
  line-height: 1.6;
  font-size: 20px;
}

.step-links a:link{
  text-decoration: none;
  font-size: 20px;
	padding: 0 9px 3px 9px;
	display: inline-block;

}

#content {
    float:left;
    width:60%;
    padding:0 0 0 30px;
    color: orange;
}

#sidebar {
    float:right;
    width:30%;
    padding:10px;
    background:#efefef;
    height:100%;
}

p.date {
    color: #7d7b7b;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

/* pagination */
.pagination {
    margin:40px 0;
    font-weight:bold;
    color: black;
}

/* forms */
label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}
