body {
    font-family: 'Alegreya', Georgia, Helvetica, serif, sans-serif;
    font-size: 1.25;
    font-weight: 500;
    color: #878787;
    margin:0;
    padding:0;
}

header {
	padding: 3.5em 0 3.4em 0;
  background-color: orange;
  text-align: center;

}

header span {
	color: white;
  border-bottom: 2px solid;
  margin-bottom: 1em;
  line-height: 1em;
  letter-spacing: 1.3px;
  padding: 0 0 .6em 0;
  font-weight: inherit;
}

a:link {
	text-decoration: none;
	color: #FFA949;
	display: inline-block;
}

h1, h2, h3, h4 {
  font-weight: inherit;
}

h1 {
	font-size: 2.441em;
  line-height: 1;
  text-shadow: 0 1px 0 rgba(0,0,0,.3);
  color: white;
  margin: .5em 0 auto;
  font-weight: 800;
  letter-spacing: 1.5px;
}

h2 {
    font-size: 1.953em;
    line-height: 1;
    margin:1.2em 0 .6em;
}

h3 {
    font-size: 1.563em;
    margin: 1.1em 0 auto;
}

p {
  color: initial;
  font-size: 1.6;
  margin: 1.6em 0 auto;
}

.tags  {
  color: initial;
  font-size: .9em;
  margin: -.8em 0 0 0;
}

.step-links a:link{
  text-decoration: none;
	padding: 0 9px 3px 9px;
	display: inline-block;
}

#content {
    float:left;
    width:60%;
    padding: 0 0 0 1.6em;
    color: orange;
}

#sidebar {
    float:right;
    width:30%;
    padding: 0 10px 10px 10px;
    background:#ffa5004d;
    height:100%;
}

p.date {
    color: #7d7b7b;
    font-family: georgia, serif;
    font-size: .625em;
    font-style: italic;
    margin: .5em .1em auto;
}

/* pagination */
.pagination {
    margin:40px 0;
    font-weight:bold;
    color: black;
}

/* forms */
label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:.75em;
}
input[type=submit] {
    font-weight:bold;
    background:#ffa500;
    color:#fff;
    padding:10px 20px;
    font-size:.875em;
    text-transform:uppercase;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:.75em;
    color:#666;
}

#main-footer{
  clear: both;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: solid 35px orange;
}

#main-footer a:link {
	text-decoration: none;
  font-size: 1em;
	color: #FFA949;
	padding: 0 0 0 3px;
}

#main-footer #p-footer{
  color: initial;
  font-size: 1em;
  padding: 1.05em 0 .7em 0;
}

ul{
  padding-left: 20px; 
}
