{% extends "blog/base.html" %}

{% load staticfiles %}

{% load blog_tags %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
  <span class="icon-post pull-right"><img class="icon-img" src={% static "img/010-shapes-1.png" %} alt="Like this page"></span>
  <span class="icon-post pull-right"><img class="icon-img" src={% static "img/003-technology-1.png" %} alt="Print this page"></span>
  <span class="icon-post pull-right"><a href="{% url "blog:post_share" post.id %}"><img class="icon-img" src={% static "img/014-interface.png" %} alt="Share this page"></a></span>

  <h2>{{ post.title }}</h2>
  <p class="date">Published {{ post.publish }} by {{ post.author }}
  </p>
  {{ post.body|markdown }}


  <hr class="featurette-divider">
  <h3>Similar posts</h3>
  {% for post in similar_posts %}
    <p>
      <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
      </a>
    </p>
    {% empty %}
      There are no similar posts yet.
    {% endfor %}

  <hr class="featurette-divider">
  {% with comments.count as total_comments %}
      <h3>{{ total_comments }} comment{{ total_comments|pluralize }}</h3>
  {% endwith %}

  {% for comment in comments %}
      <div class="comment">
          <p class="info">Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}</p>
          {{ comment.body|linebreaks }}
      </div>
  {% empty %}
      <p>There are no comments yet.</p>
  {% endfor %}

  <hr class="featurette-divider">
  {% if new_comment %}
      <h3>Your comment has been added.</h3>
  {% else %}
      <h2>Add a new comment</h2>

      <form class="" action="." method="post">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <p><input type="submit" value="Add comment"></p>
      </form>

  {%  endif %}

{% endblock %}
